<nb-card [size]="breakpoint.width >= breakpoints.xxxl || breakpoint.width < breakpoints.md ? 'large' : 'xlarge'">
  <nb-tabset fullWidth>
    <nb-tab tabTitle="Organization">
      <div class="contact" *ngFor="let repo of this.organization.repos">
        <nb-user [name]="repo.name" [title]="organization.name + '-' + repo.stars + ' stars'" size="large"></nb-user>
        <i class="i-contact nb-phone"></i>
      </div>
    </nb-tab>
    <!-- <nb-tab tabTitle="Members">
      <div class="contact" *ngFor="let repo of this.organization.members">
        <nb-user [name]="repo.name" [title]="organization.name + ' ' + repo.stars + 'stars'" size="large"></nb-user>
        <i class="i-contact nb-phone"></i>
      </div>
    </nb-tab> -->
  </nb-tabset>
</nb-card>
