<div class="row">
  <div class="col-lg-6">
    <h1 *ngIf="this.organization == null">Rechercher une organisation</h1>
    <h1 *ngIf="this.organization != null">{{this.organization}}</h1>
    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form mt-0">
        <input #search (keyup.enter)="onEnter(search.value)"class="form-control mr-sm-2" type="text" placeholder="Rechercher...">
      </div>
    </form>

    <nb-card *ngIf="this.organization != null">
      <nb-card-header>Langages les plus utilisés (en nombre de projets)</nb-card-header>
      <nb-card-body>
        <ngx-echarts-pie [organization]="organization"></ngx-echarts-pie>
      </nb-card-body>
    </nb-card>
  </div>
</div>